<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd" >
	
	<bean name="emailCleanNotConfirmedJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.clkio.quartz.CleanEmailNotConfirmed" />
		<property name="durability" value="true" />
	</bean>

	<bean name="requestResetPasswordCleanNotConfirmedJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.clkio.quartz.CleanRequestResetPasswordNotConfirmed" />
		<property name="durability" value="true" />
	</bean>
	
	<bean id="emailCleanNotConfirmedCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="emailCleanNotConfirmedJobDetail" />
		<property name="cronExpression" value="${clkio.quartz.emailNotConfirmedJob.cronExepression}" />
	</bean>
	
	<bean id="requestResetPasswordCleanNotConfirmedCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="requestResetPasswordCleanNotConfirmedJobDetail" />
		<property name="cronExpression" value="${clkio.quartz.resetPasswordNotConfirmedJob.cronExepression}" />
	</bean>
	
	<bean id="clkioScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup" value="true" />
		<property name="waitForJobsToCompleteOnShutdown" value="false" />
		<property name="overwriteExistingJobs" value="true" />
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="triggers">
			<list>
				<ref bean="emailCleanNotConfirmedCronTrigger" />
				<ref bean="requestResetPasswordCleanNotConfirmedCronTrigger" />
			</list>
		</property>
		<property name="schedulerContextAsMap">
			<map>
				<entry key="emailService" value-ref="emailServiceImpl" />
				<entry key="requestResetPasswordService" value-ref="requestResetPasswordServiceImpl" />
			</map>
		</property>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">CLKIO_QUARTZ</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
				<prop key="org.quartz.jobStore.isClustered">true</prop>
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">${clkio.quartz.jobStore.misfireThreshold}</prop>
				<prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.PostgreSQLDelegate</prop>
				<prop key="org.quartz.threadPool.threadCount">${clkio.quartz.threadPool.threadCount}</prop>
				<prop key="org.quartz.threadPool.threadPriority">${clkio.quartz.threadPool.threadPriority}</prop>
			</props>
		</property>
	</bean>
</beans>