<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd" >

	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${clockinclockout.mail.host}"/>
		<property name="port" value="${clockinclockout.mail.port}"/>
		<property name="username" value="${clockinclockout.mail.username}"/>
		<property name="password" value="${clockinclockout.mail.password}"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">${clockinclockout.mail.protocol}</prop>
				<prop key="mail.smtp.auth">${clockinclockout.mail.auth}</prop>
				<prop key="mail.smtp.starttls.enable">${clockinclockout.mail.starttls.enable}</prop>
				<prop key="mail.debug">${clockinclockout.mail.debug}</prop>
			</props>
		</property>
	</bean>
	
</beans>