<html>
	<head>
		<title>${emailContent.subject}</title>
		<style type="text/css">
			.clockInClockOutTitleDIV {
				padding: 10px;
				font-family: 'HelveticaNeue',Arial,Helvetica,sans-serif;
				font-size: 16px;
				line-height: 18px;
				color: #000000;
				font-weight: bold;
			}
			.clockInClockOutDIV {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="clockInClockOutTitleDIV">
			Você esqueceu sua senha?
		</div>
		
		<div class="clockInClockOutDIV">
			Recebemos a solicitação para redefinição de senha da conta <b>${emailContent.email.address}</b> .
		</div>
		
		<div class="clockInClockOutDIV">
			Se você ainda deseja redefinir sua senha, por favor, clique no link abaixo ou copie o endereço
			e cole no seu navegador favorito.
		</div>
		
		<div class="clockInClockOutDIV">
			<a href="${linkSite}/reset/${emailContent.encodedEmailAddress}?q=${emailContent.hash}" target="_blank">Confirmar redefinição de senha.</a>
		</div>
		
		<div class="clockInClockOutDIV">
			Se você não deseja redefinir sua senha, apenas desconsidere esta mensagem e sua senha não terá nenhuma modificação.
		</div>
		
		<div class="clockInClockOutDIV">
			Nós do ${linkSite} agradecemos muito seu interesse em nossa comunidade.
		</div>
	</body>
</html>