<html>
	<head>
		<title>${emailContent.subject}</title>
		<style type="text/css">
			.clockInClockOutTitleDIV {
				padding: 10px;
				font-family: 'HelveticaNeue',Arial,Helvetica,sans-serif;
				font-size: 16px;
				line-height: 18px;
				color: #000000;
				font-weight: bold;
			}
			.clockInClockOutDIV {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="clockInClockOutTitleDIV">
			Did you forget your password?
		</div>
		
		<div class="clockInClockOutDIV">
			We received a request to reset the password for the account <b>${emailContent.email.address}</b>.
		</div>
		
		<div class="clockInClockOutDIV">
			If you would like to reset your password, please, click on the link below or copy and past
			the address on you favorite web browser. 
		</div>
		
		<div class="clockInClockOutDIV">
			<a href="${linkSite}/reset/${emailContent.encodedEmailAddress}?q=${emailContent.encodedHash}" target="_blank">Confirm reset password.</a>
		</div>
		
		<div class="clockInClockOutDIV">
			In case you want to go on reseting your password through another way, as through the mobile app, the code to be provided is the following;
		</div>
		
		<div class="clockInClockOutDIV">
			${emailContent.hash}
		</div>
		
		<div class="clockInClockOutDIV">
			If you do not want reset your password, just ignore this message and no change is going to be applied on you current password.
		</div>
		
		<div class="clockInClockOutDIV">
			We from ${linkSite} thank you so much for your interest in our community.
		</div>
	</body>
</html>