<html>
	<head>
		<title>${emailContent.subject}</title>
		<style type="text/css">
			.clockInClockOutTitleDIV {
				padding: 10px;
				font-family: 'HelveticaNeue',Arial,Helvetica,sans-serif;
				font-size: 16px;
				line-height: 18px;
				color: #000000;
				font-weight: bold;
			}
			.clockInClockOutDIV {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="clockInClockOutDIV">
			Recebemos a solicitação de inclusão do endereço de email <b>${emailContent.email.address}</b> no aplicativo ${linkSite}.
		</div>
		
		<div class="clockInClockOutDIV">
			Por favor, clique no link abaixo para confirmar o endereço de email e ativá-lo.
		</div>
		
		<div class="clockInClockOutDIV">
			<a href="${linkSite}/checkemail/${emailContent.encodedEmailAddress}?q=${emailContent.encodedHash}" target="_blank">Confirmar email.</a>
		</div>
		
		<div class="clockInClockOutDIV">
			Caso queira efetivar ativação através de outro meio, como pelo aplicativo mobile por exemplo, o código é o seguinte;
		</div>
		
		<div class="clockInClockOutDIV">
			${emailContent.hash}
		</div>
		
		<div class="clockInClockOutDIV">
			Se você não fez esta solicitação, por favor, nos desculpe e desconsidere esta mensagem.
		</div>
		
		<div class="clockInClockOutDIV">
			Nós do ${linkSite} agradecemos muito seu interesse em nossa comunidade.
		</div>
	</body>
</html>